<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pemws14.armyoffriends" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ApplicationDetails"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OurAppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.pemws14.armyoffriends.DispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.pemws14.armyoffriends.drawer.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.YourArmyActivity"
            android:label="@string/title_activity_your_army"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.FightActivity"
            android:label="@string/title_activity_fight"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.LatestActionsActivity"
            android:label="@string/title_activity_latest_actions"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.YourProfileActivity"
            android:label="@string/title_activity_your_profile"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.ImpressumActivity"
            android:label="@string/title_activity_impressum"
            android:theme="@style/OurDrawerTheme" >
        </activity>

        <activity
            android:name="com.pemws14.armyoffriends.Login.ParseLoginActivity"
            android:label="Login"
            android:launchMode="singleTop">

            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
        </activity>



        <service
            android:name="com.pemws14.armyoffriends.BackgroundService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="Army of Friends - Backgroundservice"
            android:process=":background_process" />

        <receiver android:name="com.pemws14.armyoffriends.BackgroundReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>




    </application>

</manifest>
