<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pemws14.armyoffriends" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ApplicationDetails"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OurAppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckLoginStatus"
            android:label="@string/title_activity_check_login_status"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".drawer.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".YourArmyActivity"
            android:label="@string/title_activity_your_army"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".FightActivity"
            android:label="@string/title_activity_fight"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".LatestActionsActivity"
            android:label="@string/title_activity_latest_actions"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".YourProfileActivity"
            android:label="@string/title_activity_your_profile"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".ImpressumActivity"
            android:label="@string/title_activity_impressum"
            android:screenOrientation="portrait"
            android:theme="@style/OurDrawerTheme" >
        </activity>
        <activity
            android:name=".Login.ParseLoginActivity"
            android:label="Login"
            android:launchMode="singleTop"
            android:theme="@style/ParseLoginUI" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
        </activity>

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="Army of Friends - Backgroundservice"
            android:process=":background_process" />

        <receiver android:name=".BackgroundReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/Base.Theme.AppCompat">
        </activity>
    </application>

</manifest>
